@keyframes expand {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 첫 번째 원: 애니메이션 시작 시각 없음, 제일 작은 원 */
.animate-expand:first-child {
  animation: expand 3.2s ease infinite;
}

/* 두 번째 원: 0.2초 후에 애니메이션 시작, 중간 크기의 원 */
.animate-expand:nth-child(2) {
  animation: expand 3.2s ease infinite 0.2s;
}

/* 세 번째 원: 0.4초 후에 애니메이션 시작, 가장 큰 원 */
.animate-expand:nth-child(3) {
  animation: expand 3.2s ease infinite 0.4s;
}
